@import '../../styles/utils';

.page-title {
    font-size: map-get($font-size, 'h2');
    line-height: $line-height-sm;
    font-weight: $font-weight-bold;
    margin-top: map-get($spacing, '0');
    margin-bottom: map-get($spacing, '16');
    color: $gray-900;
}
