{
    "semi": true,
    "trailingComma": "es5",
    "singleQuote": true,
    "tabWidth": 4,
    "useTabs": false,
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "endOfLine": "auto",
    "htmlWhitespaceSensitivity": "css",
    "printWidth": 80,
    "proseWrap": "preserve",
    "importOrder": [
        "react",
        "<THIRD_PARTY_MODULES>",
        "@/",
        "^./(.*)$",
        "^../(.*)$",
        "(?=module.scss)"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
