@import '../../styles/utils';

.container {
    width: 100%;
    margin: 0 auto map-get($spacing, '40');
    padding: map-get($spacing, '24');
    box-sizing: border-box;

    &.paper-container {
        padding-top: 0;
    }

    @include screen-up(md) {
        max-width: map-get($grid-breakpoints, md);
    }

    @include screen-up(lg) {
        max-width: map-get($grid-breakpoints, lg);
    }
}

.paper {
    background-color: $gray-100;
    height: auto;
    min-height: 100vh;
    border-radius: map-get($border-radius, 'md');
    padding: map-get($spacing, '24');
}
