@import 'foundation/all';
@import 'base/reset';

body {
    margin: map-get($spacing, '0');
    font-family: $body-font-family;
    font-size: $body-font-size;
    font-weight: $body-font-weight;
    background-color: $gray-300;
    line-height: $line-height-base;
    color: $gray-1000;
}

a {
    text-decoration: none;
}
